/*===== BOOTSTRAP OVERRIDES AND EXTENSIONS =====*/

.navbar .brand {
    color: #FFF;
}

.table .btn-group {
    margin-top: 0;
}

ul.bordered > li {
    border-top: solid 1px #EEE;
    padding: 20px 0;
}

ul.bordered.skip-first > li:first-child {
    border-top-width: 0;
    padding-top: 0; 
}


/*===== GENERAL STYLES =====*/

body {
    padding-top: 50px;
}

.validation-summary-valid {
    display: none !important;
}


/* ===== TOOLBARS ===== */

.toolbar {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.toolbar h4,
.toolbar h5 {
    margin: 0;
}