@model IEnumerable<SurveyTool.Models.Survey>

@{
    ViewBag.Title = "Reports";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<ul>
    @foreach (var survey in Model)
    {
        <li>
            <a href="@Url.Action("Details", new { id = survey.Id })">@survey.Name</a>
        </li>
    }
</ul>